<!doctype html>
<html lang="en">
    <head>
        {% block headTop %}{% endblock %}
        <title>{% block pageTitle %}{% endblock %}</title>
        {% block headMiddle %}{% endblock %}
        {% block headBottom %}{% endblock %}
    </head>
    
    <body>
        {% block body %}{% endblock %}
    </body>
</html>