<nav class="navbar navbar-dark bg-inverse">
    <a class="navbar-brand" href="{{ url("webIndex") }}">Clamscan Web</a>
    <ul class="nav navbar-nav">
        
        <li class="nav-item">
            <a class="nav-link" href="{{ url("poolsBillboard") }}">Pools</a>        
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="{{ url("serversBillboard") }}">Servers</a>        
        </li>
        
    </ul>
</nav>
