{% extends "/outputs/" ~ output ~ ".twig" %}
{% block headTop %}
    <link href="https://fonts.iu.edu/style.css?family=BentonSans:regular,bold%7CBentonSansCond:regular%7CGeorgiaPro:regular" rel="stylesheet">
    <link href="https://assets.iu.edu/web/fonts/icon-font.css" rel="stylesheet">
    <link href="https://assets.iu.edu/web/1.x/css/global.css" rel="stylesheet" type="text/css">
    <link href="https://assets.iu.edu/brand/1.x/brand.css" rel="stylesheet" type="text/css">
    <link href="https://assets.iu.edu/search/1.x/search.css" rel="stylesheet" type="text/css">
    <link href="/files/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <style>
        .main-container {
            margin-top: 3em;
            margin-bottom: 3em;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="branding-bar-v1" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
        <div class="bar">
            <div class="wrapper">
                <h1 class="campus">
                    <a href="http://www.iu.edu" title="Indiana University">
                        <img src="//assets.iu.edu/brand/1.x/trident-tab.gif" height="73" width="64" alt=" " />
                        <span class="show-on-desktop" itemprop="name">Indiana University</span>
                        <span class="show-on-tablet" itemprop="name">Indiana University</span>
                        <span class="show-on-mobile" itemprop="name">Indiana University</span>
                    </a>
                </h1>
            </div>
        </div>
    </div>
    
    <div class="container main-container">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    
    
    <footer id="footer-v1" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
        <div class="wrapper">
            <p class="tagline">Fulfilling <span>the</span> Promise</p>
            <p class="internal"><a href="/privacy" id="privacy-policy-link">Privacy Notice</a></p>
            <p class="copyright">
                <a href="http://www.iu.edu/" class="block-iu"><img src="//assets.iu.edu/brand/1.x/block-iu.png" height="26" width="22" alt="Block IU" /></a>
                <span class="line-break">
                    <a href="http://www.iu.edu/copyright/index.shtml">Copyright</a> &#169;2015			</span>
                <span class="line-break">The Trustees of <a href="http://www.iu.edu/" itemprop="url"><span itemprop="name">Indiana University</span></a>,</span>
                <span class="line-break"><a href="http://www.iu.edu/copyright/complaints.shtml">Copyright Complaints</a></span>
            </p>
        </div>
    </footer>
    <script type="text/javascript" src="/files/jquery.min.js"></script>
    <script type="text/javascript" src="/files/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}