{% extends "/layouts/" ~ layout ~ ".twig" %}

{% block pageTitle %}Test{% endblock %}

{% block content %}
    <h2>ClamAV Scan Scheduling</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">Schedule a Scan</div>
        </div>
        <div class="panel-body">
            Inputs go here
        </div>
    </div>
{% endblock %}