Options         -MultiViews

AuthType	CAS
AuthName	"IU-CAS"
#Require	user	avitacco, fosterr, percival
Require		valid-user

RewriteEngine   On
RewriteCond     %{REQUEST_FILENAME} !-f
RewriteCond	%{REQUEST_FILENAME} !-d
RewriteRule     ^   index.php [QSA,L]
